/* Importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

/* Reset page in SCSS */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/*Setting the font-family to 'bangers' for every text element*/
body{
    font-size: 100%;
    font-family: 'Bangers', cursive;
}

h2{
    color:rgb(255, 255, 255);
    // font-size: 120px;
    font-size:20vw;
    font-family: 'Bangers', cursive;
    margin:0px 30px;
    text-shadow: 8px 8px rgb(0, 0, 0);
}

.top-2{
    background-image: url(image2.jpg);
    background-size:cover;
    min-height: 90%;
    width:100%;
    float: left;
    height: 100vh;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .top-2-text{
        max-width:600%;
        width: calc(100% - 40px);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .home-options{
            display:flex;
            align-items: center;
            justify-content:center;
            flex-direction: column;
            margin:10px auto;
            gap:5px;
        }

        .profile-image-input-container{
            display:flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap:5px;

            .upload-file-input{
                max-width:270px;
                color:whitesmoke; /* Color of the text*/
                font-size:20px ; /*25px Setting the font size of the text */
                font-family: 'Bangers', cursive;
                background:black;
                padding:15px;
                border: 0px solid white;
                opacity: 85%;
                border-radius: 30px;
                text-decoration: none;
            }
    
            .upload-file-submit{
                color:whitesmoke; /* Color of the text*/
                font-size: 25px; /* Setting the font size of the text */
                font-family: 'Bangers', cursive;
                background:black;
                padding:15px;
                border: 0px solid white;
                opacity: 85%;
                border-radius: 30px;
                text-decoration: none;
            }
        }

        

    }

    .home-header{
        color:rgb(255, 255, 255);
        font-size: 13vw;
        font-family: 'Bangers', cursive;
        text-shadow: 10px 10px rgb(0, 0, 0);
    }

    .let-me{
        color:white;
        text-decoration: none;
    }&:hover{
        cursor: pointer;
        opacity:100%;
    }&:active{
        box-shadow: 1px 1px 11px black;
    }
}

.menu-button{
    background: white;
    font-family: 'Bangers', cursive;
    margin:10px 0px 20px 0px; //top, right, bottom, left
    padding:15px;
    border: 10px solid black;
    opacity: 85%;
    border-radius: 20px;
    
    a{
        text-decoration: none;
        color:black;
        font-size: 2.5vw;
    }

    &:hover{
        opacity: 100%;
        cursor: pointer;
        letter-spacing:10px;
        transition:0.5s;
    }
}

button{
    color:whitesmoke; /* Color of the text*/
    font-size: 45px; /* Setting the font size of the text */
    font-family: 'Bangers', cursive;
    background:black;
    padding:15px;
    border: 0px solid white;
    opacity: 85%;
    border-radius: 30px;
    text-decoration: none;

    &:hover{
        cursor: pointer;
        opacity:100%;
    }
    &:active{
        box-shadow: 1px 1px 11px black;
    }
}


.top{
    display: flex;
    align-items: center;
    height:50px;
    width:100%;
    background-color: black;
    color:whitesmoke;
    box-shadow: 1px 1px 11px black;
    position: fixed;
    z-index:999;

    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin:auto auto;
        max-width:1028px;
        width: calc(100% - 30px);
        height: 100%;

        p{
            font-family: 'Bangers', cursive;
            font-size:35px;

            .landing-direct{
                text-decoration:none;
                color:white;
                
            }

            .landing-direct:hover{
                border-bottom:3px solid white;
                cursor:pointer;
            }
    
        }

        .navbar{
            display: flex;
            height:30px;
            
            li{
                list-style: none;
                margin:0px 5px;
                a{
                    text-decoration: none;
                    font-size: 25px;
                    color: whitesmoke;
                } &:hover{
                    border-bottom: 2px solid white;
                }
            }
        }

        .ham{
            height: calc(100% - 5px);
            display: none;

        }

        //600px phones
        @media screen and (max-width: 600px) {
            .ham{
                display:inline-block;
                box-shadow: 1px 1px 11px black;
            } &:hover{
                cursor: pointer;

            }

            .navbar{
                display:none;
                background: red;
            }
        }
    }
}


.popup{
    position:fixed;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    left:0;
    right:0;
    top:0;
    bottom:0;
    z-index:999;
    transition-duration: 1s;
    transition-property: transform;

    .ham-ul{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        transition: transform 1s ease-in;
        transform: translate(-6000px, 0px);
        // margin:0px 0px;
        // transition: all 2s;

        .close-popup{
            color:red;
        }

        // transform: translate(-600px,0px);
    }

    li{
        list-style: none;
        margin:10px;
        a{
            text-decoration: none;
            font-size: 60px;
            color: black;
        } &:hover{
            border-bottom: 9px solid orange;
        }
    }
}

.disabled{
    display: none;
    background: black;
}

/*About Section BELOW*/

.about-section{
    // background: red;
    background:rgb(255, 255, 113);
    //height:727px;
    height:auto;

    .about-text{
        color:rgb(0, 0, 0);
        font-size: 4vw;
        font-family: 'Bangers', cursive;

        // margin:10px 300px;
    }

    .opening-times-text{
        color:black;
        // font-size: 40px;
        font-size: 5vw;
        font-family: 'Bangers', cursive;
        text-shadow: 5px 5px rgb(255, 255, 255);
        margin:10px 100px;
    }

    .left-right-main{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height:100%;
        max-width: 1028px;
        width: calc(100% - 50px);
        margin:0px auto;

        .right{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align:center;
        }

        .left{
            position: static;
            overflow: visible;
        }

        .google-api{
            max-width: 700px;
            height:300px;
            width: calc(100% - 50px);
            position: static;
            overflow: visible;
            // max-width: 200px;
            // height: 200px;
            color:black;
            // font-size: 50px;
            // font-family: "Amatic SC", sans-serif;
            // margin:auto auto;
            text-shadow:5px 5px white;
            border-radius: 15px;
            box-shadow: 1px 1px 19px black;
            margin:45px 100px;
        }
    }
}




.login-form-container{
    display:flex;
    justify-content: center;
    align-items: center;
    max-width:500px;
    width:calc(100% - 50px);
    min-height:100px;
    // background: snow;
    // border-radius:25px;
    // box-shadow: 1px 1px 11px black;
    margin: 25px 0px;
    // top:50%;
    //padding:20px;

    .register-form{
        display: flex;
        justify-content: space-around;
        align-items:center;
        flex-direction: column;
        padding: 12px 15px;
        max-width:600px;
        width:calc(100% - 20px);
        min-height:350px;
        position: absolute;
        margin: 25px 0px;
        box-shadow: 1px 1px 11px black;
        border-radius: 25px;
        background: black;
        background:linear-gradient(to top, rgba(0,0,0,0.8)50%, rgba(0,0,0,0.8)50%);
    }

    .update-form{
        display: flex;
        justify-content: space-around;
        align-items:center;
        flex-direction: column;
        padding: 12px 15px;
        max-width:600px;
        width:calc(100% - 20px);
        min-height:450px;
        position: absolute;
        margin: 25px 0px;
        box-shadow: 1px 1px 11px black;
        border-radius: 25px;
        background: black;
        background:linear-gradient(to top, rgba(0,0,0,0.8)50%, rgba(0,0,0,0.8)50%);
    }

    .register-name, .register-email, .register-password{
        max-width:600px;
        width:calc(100% - 50px);
        min-height:70px;
        text-align: center;
        font-size: 25px;
        font-family: 'Bangers', cursive;
        outline: none;
        font-weight:bold;
        border-radius: 15px;
        border: 3px solid black;
    }

    .register-btn{
        max-width:600px;
        width:calc(100% - 10px);
        min-height:50px;
        text-align: center;
        font-size: 30px;
        font-family: 'Bangers', cursive;
        background:rgb(255, 255, 86);
        color:black;
        opacity: 80%;
        border-radius: 30px;
        // position: absolute;
        // top:85%;
        // left: 51%;
        // transform: translate(-50%, -50%);
        // color:black;
        // font-size: 30px;
        // font-family: 'Bangers', cursive;
        // background:rgb(255, 255, 86);
        // padding:15px;
        // border: 0px solid white;
        // opacity: 80%;
        // border-radius: 30px;
        // width:400px;
        // height:50px;
    }
    
    .register-btn:hover{
        opacity: 100%;
        cursor: pointer;
    }
    
    .register-btn:active{
        box-shadow: 1px 1px 16px white;
    }

}


/* Contact Form BELOW*/
.contact-section{
    background-color:rgb(255, 255, 113);
    height:auto;
    display: flex;
    justify-content: baseline;
    align-items: center;
    flex-direction: column;

    textarea{
        max-width:500px;
        height:150px;
        text-align: center;
        font-size: 4vw;
        font-family: 'Bangers', cursive;
        outline: none;
        margin: 10px auto;
        font-weight:bold;
        border-radius: 15px;
        border: 3px solid black;
    }

    input{
        max-width:500px;
        height:80px;
        text-align: center;
        font-size: 4vw;
        font-family: 'Bangers', cursive;
        outline: none;
        margin: 10px auto;
        font-weight:bold;
        border-radius: 15px;
        border: 3px solid black;
    }


    .btn-4{
        display:flex;
        align-items: center;
        justify-content: center;
        max-width:25%;
        width:calc(100% - 0px);
        min-height:50px;
        font-size:7vw;
        color: white;
        border-radius: 15px;
        text-decoration: none;
        background:black;
        text-align: center;
        opacity: 90%;
        margin:70px auto;  
    }
    
    .btn-4:hover{
        opacity:100%;
        cursor: pointer;
    }
    
    .btn-4:active{
        box-shadow: 1px 1px 11px black;
    }

    .contact-form-container{
        display: flex;
        justify-content: baseline;
        align-items: center;
        flex-direction: column;

    }


    .contact-header{
        color:black;
        font-size: 8vw;
        font-family: 'Bangers', cursive;
        text-shadow:5px 5px white;

        .contact-form{
            
            // display: flex;
            // justify-content: center;
            // align-items:center;
            // flex-direction: column;
            // padding: 5px;
            // max-width:600px;
            // width:calc(100% - 20px);
            // min-height:350px;
            // position: absolute;
            // margin: auto auto;
            // color:black;
            // font-size: 8vw;
            // font-weight: bold;
            // font-family: 'Bangers', cursive;
            // // margin:0px auto;   
        }
    }


    
}

/*Food Menu */
.menu-section{
    background: black;
    height: auto;
    display: flex;
    align-items:flex-end;
    justify-content: center;
    flex-direction: row;
    color:white;
    text-align: center;

    .food-image1{
        background-image: url(food-image1.jpg);
        background-size:cover;
        max-width:1000px;
        min-height:100%;
        border-radius: 15px;
        border: 3px solid black;
        
    }

    .food-image2{
        background-image: url(food-image2.jpg);
        background-size:cover;
        max-width:1000px;
        min-height:100%;
        border-radius: 15px;
        border: 3px solid black;
    }
}

// /*Food Menu*/

// .menu-section{
//     background-color:rgb(255, 255, 113);
//     .food-container{

//         .food-image1{
//             background-image: url(food-image1.jpg);
//             background-size:cover;
//             max-width:300px;
//             height:200px;
//             margin:20px auto;
            
//             // min-height: 50%;
//             // width:45%;
//             // // float: left;
//             // height: 100%;
//             // position: inherit;

//         }

//         .food-image2{

//         }
//     }
// }

.food-contain{
    background: black;

    //CHICKEN BURGER PAGE
    .chicken-burger-container{
        display:flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-image: url(chickenBurger.jpg);
        background-size:cover;
        min-height: 90%;
        width:100%;
        float: left;
        height: 100vh;
        position: relative;
        // background-size:100%;
        // background-position: center top;
        // background-repeat: no-repeat;
        // max-width:100%;
        // // min-height:190vh;
        // max-height: 100%;
        
        
        .chicken-burger-description{
            // display: flex;
            // align-items: center;
            // justify-content:center;
            // flex-direction: column;
    
            .food-title{
                font-family: 'Bangers', cursive;
                // font-size:45px;
                margin:10px;
                font-size:16vw;
                color:white;
                text-shadow: 1px 1px 10px black;
                text-align: center;
            }

            .food-title-description{
                font-family: 'Bangers', cursive;
                // font-size:45px;
                font-size:5vw;
                color:white;
                text-align: center;
                text-shadow: 1px 1px 10px black;
            }

            .food-title-price{
                font-family: 'Bangers', cursive;
                // font-size:45px;
                font-size:10vw;
                color:white;
                text-align: center;
                text-shadow: 1px 1px 10px black;
                
            }
        }
    }

    //BEEF BURGER PAGE
    .beef-burger-container{
        display:flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-image: url(beefBurger.jpg);
        background-size:cover;
        min-height: 90%;
        width:100%;
        float: left;
        height: 100vh;
        position: relative;
        // background-size:100%;
        // background-position: center top;
        // background-repeat: no-repeat;
        // max-width:100%;
        // // min-height:190vh;
        // max-height: 100%;
        
        
        .chicken-burger-description{
            // display: flex;
            // align-items: center;
            // justify-content:center;
            // flex-direction: column;
    
            .food-title{
                font-family: 'Bangers', cursive;
                // font-size:45px;
                margin:10px;
                font-size:16vw;
                color:white;
                text-shadow: 1px 1px 10px black;
                text-align: center;
            }

            .food-title-description{
                font-family: 'Bangers', cursive;
                // font-size:45px;
                font-size:5vw;
                color:white;
                text-align: center;
                text-shadow: 1px 1px 10px black;
            }

            .food-title-price{
                font-family: 'Bangers', cursive;
                // font-size:45px;
                font-size:10vw;
                color:white;
                text-align: center;
                text-shadow: 1px 1px 10px black;
                
            }
        }
    }

    //FISH BURGER
    .fish-burger-container{
        display:flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-image: url(fishBurger.jpg);
        background-size:cover;
        min-height: 90%;
        width:100%;
        float: left;
        height: 100vh;
        position: relative;
        // background-size:100%;
        // background-position: center top;
        // background-repeat: no-repeat;
        // max-width:100%;
        // // min-height:190vh;
        // max-height: 100%;
        
        
        .chicken-burger-description{
            // display: flex;
            // align-items: center;
            // justify-content:center;
            // flex-direction: column;
    
            .food-title{
                font-family: 'Bangers', cursive;
                // font-size:45px;
                margin:10px;
                font-size:16vw;
                color:white;
                text-shadow: 1px 1px 10px black;
                text-align: center;
            }

            .food-title-description{
                font-family: 'Bangers', cursive;
                // font-size:45px;
                font-size:5vw;
                color:white;
                text-align: center;
                text-shadow: 1px 1px 10px black;
            }

            .food-title-price{
                font-family: 'Bangers', cursive;
                // font-size:45px;
                font-size:10vw;
                color:white;
                text-align: center;
                text-shadow: 1px 1px 10px black;
                
            }
        }
    }

    //French Fries
    .French-Fries-container{
        display:flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-image: url(frenchFries.jpg);
        background-size:cover;
        min-height: 90%;
        width:100%;
        float: left;
        height: 100vh;
        position: relative;
        // background-size:100%;
        // background-position: center top;
        // background-repeat: no-repeat;
        // max-width:100%;
        // // min-height:190vh;
        // max-height: 100%;
        
        
        .chicken-burger-description{
            // display: flex;
            // align-items: center;
            // justify-content:center;
            // flex-direction: column;
    
            .food-title{
                font-family: 'Bangers', cursive;
                // font-size:45px;
                margin:10px;
                font-size:16vw;
                color:white;
                text-shadow: 1px 1px 10px black;
                text-align: center;
            }

            .food-title-description{
                font-family: 'Bangers', cursive;
                // font-size:45px;
                font-size:5vw;
                color:white;
                text-align: center;
                text-shadow: 1px 1px 10px black;
            }

            .food-title-price{
                font-family: 'Bangers', cursive;
                // font-size:45px;
                font-size:10vw;
                color:white;
                text-align: center;
                text-shadow: 1px 1px 10px black;
                
            }
        }
    }
    //Onion Rings
    .Onion-Rings-container{
        display:flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-image: url(onionRings.jpg);
        background-size:cover;
        min-height: 90%;
        width:100%;
        float: left;
        height: 100vh;
        position: relative;
        // background-size:100%;
        // background-position: center top;
        // background-repeat: no-repeat;
        // max-width:100%;
        // // min-height:190vh;
        // max-height: 100%;
        
        
        .chicken-burger-description{
            // display: flex;
            // align-items: center;
            // justify-content:center;
            // flex-direction: column;
    
            .food-title{
                font-family: 'Bangers', cursive;
                // font-size:45px;
                margin:10px;
                font-size:16vw;
                color:white;
                text-shadow: 1px 1px 10px black;
                text-align: center;
            }

            .food-title-description{
                font-family: 'Bangers', cursive;
                // font-size:45px;
                font-size:5vw;
                color:white;
                text-align: center;
                text-shadow: 1px 1px 10px black;
            }

            .food-title-price{
                font-family: 'Bangers', cursive;
                // font-size:45px;
                font-size:10vw;
                color:white;
                text-align: center;
                text-shadow: 1px 1px 10px black;
                
            }
        }
    }
    //coleslaw
    .coleslaw-container{
        display:flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-image: url(coleslaw.jpg);
        background-size:cover;
        min-height: 90%;
        width:100%;
        float: left;
        height: 100vh;
        position: relative;
        // background-size:100%;
        // background-position: center top;
        // background-repeat: no-repeat;
        // max-width:100%;
        // // min-height:190vh;
        // max-height: 100%;
        
        
        .chicken-burger-description{
            // display: flex;
            // align-items: center;
            // justify-content:center;
            // flex-direction: column;
    
            .food-title{
                font-family: 'Bangers', cursive;
                // font-size:45px;
                margin:10px;
                font-size:16vw;
                color:white;
                text-shadow: 1px 1px 10px black;
                text-align: center;
            }

            .food-title-description{
                font-family: 'Bangers', cursive;
                // font-size:45px;
                font-size:5vw;
                color:white;
                text-align: center;
                text-shadow: 1px 1px 10px black;
            }

            .food-title-price{
                font-family: 'Bangers', cursive;
                // font-size:45px;
                font-size:10vw;
                color:white;
                text-align: center;
                text-shadow: 1px 1px 10px black;
                
            }
        }
    }
    //corn on the cob
    .corn-container{
        display:flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-image: url(corn.jpg);
        background-size:cover;
        min-height: 90%;
        width:100%;
        float: left;
        height: 100vh;
        position: relative;
        // background-size:100%;
        // background-position: center top;
        // background-repeat: no-repeat;
        // max-width:100%;
        // // min-height:190vh;
        // max-height: 100%;
        
        
        .chicken-burger-description{
            // display: flex;
            // align-items: center;
            // justify-content:center;
            // flex-direction: column;
    
            .food-title{
                font-family: 'Bangers', cursive;
                // font-size:45px;
                margin:10px;
                font-size:16vw;
                color:white;
                text-shadow: 1px 1px 10px black;
                text-align: center;
            }

            .food-title-description{
                font-family: 'Bangers', cursive;
                // font-size:45px;
                font-size:5vw;
                color:white;
                text-align: center;
                text-shadow: 1px 1px 10px black;
            }

            .food-title-price{
                font-family: 'Bangers', cursive;
                // font-size:45px;
                font-size:10vw;
                color:white;
                text-align: center;
                text-shadow: 1px 1px 10px black;
                
            }
        }
    }

    //Water page
    .water-container{
        display:flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-image: url(water.jpg);
        background-size:cover;
        min-height: 90%;
        width:100%;
        float: left;
        height: 100vh;
        position: relative;
        // background-size:100%;
        // background-position: center top;
        // background-repeat: no-repeat;
        // max-width:100%;
        // // min-height:190vh;
        // max-height: 100%;
        
        
        .chicken-burger-description{
            // display: flex;
            // align-items: center;
            // justify-content:center;
            // flex-direction: column;
    
            .food-title{
                font-family: 'Bangers', cursive;
                // font-size:45px;
                margin:10px;
                font-size:16vw;
                color:white;
                text-shadow: 1px 1px 10px black;
                text-align: center;
            }

            .food-title-description{
                font-family: 'Bangers', cursive;
                // font-size:45px;
                font-size:5vw;
                color:white;
                text-align: center;
                text-shadow: 1px 1px 10px black;
            }

            .food-title-price{
                font-family: 'Bangers', cursive;
                // font-size:45px;
                font-size:10vw;
                color:white;
                text-align: center;
                text-shadow: 1px 1px 10px black;
                
            }
        }
    }

    //coca-cola page
    .cocaCola-container{
        display:flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-image: url(cocaCola.jpg);
        background-size:cover;
        min-height: 90%;
        width:100%;
        float: left;
        height: 100vh;
        position: relative;
        // background-size:100%;
        // background-position: center top;
        // background-repeat: no-repeat;
        // max-width:100%;
        // // min-height:190vh;
        // max-height: 100%;
        
        
        .chicken-burger-description{
            // display: flex;
            // align-items: center;
            // justify-content:center;
            // flex-direction: column;
    
            .food-title{
                font-family: 'Bangers', cursive;
                // font-size:45px;
                margin:10px;
                font-size:16vw;
                color:white;
                text-shadow: 1px 1px 10px black;
                text-align: center;
            }

            .food-title-description{
                font-family: 'Bangers', cursive;
                // font-size:45px;
                font-size:5vw;
                color:white;
                text-align: center;
                text-shadow: 1px 1px 10px black;
            }

            .food-title-price{
                font-family: 'Bangers', cursive;
                // font-size:45px;
                font-size:10vw;
                color:white;
                text-align: center;
                text-shadow: 1px 1px 10px black;
                
            }
        }
    }

    //sprite page
    .sprite-container{
        display:flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-image: url(sprite.jpg);
        background-size:cover;
        min-height: 90%;
        width:100%;
        float: left;
        height: 100vh;
        position: relative;
        // background-size:100%;
        // background-position: center top;
        // background-repeat: no-repeat;
        // max-width:100%;
        // // min-height:190vh;
        // max-height: 100%;
        
        
        .chicken-burger-description{
            // display: flex;
            // align-items: center;
            // justify-content:center;
            // flex-direction: column;
    
            .food-title{
                font-family: 'Bangers', cursive;
                // font-size:45px;
                margin:10px;
                font-size:16vw;
                color:white;
                text-shadow: 1px 1px 10px black;
                text-align: center;
            }

            .food-title-description{
                font-family: 'Bangers', cursive;
                // font-size:45px;
                font-size:5vw;
                color:white;
                text-align: center;
                text-shadow: 1px 1px 10px black;
            }

            .food-title-price{
                font-family: 'Bangers', cursive;
                // font-size:45px;
                font-size:10vw;
                color:white;
                text-align: center;
                text-shadow: 1px 1px 10px black;
                
            }
        }
    }
}