/* Importing fonts */
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
/* Reset page in SCSS */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*Setting the font-family to 'bangers' for every text element*/
body {
  font-size: 100%;
  font-family: 'Bangers', cursive;
}

h2 {
  color: white;
  font-size: 120px;
  font-family: 'Bangers', cursive;
  margin: 0px 30px;
  text-shadow: 10px 10px black;
}

.top-2 {
  background-image: url(image2.jpg);
  background-size: cover;
  min-height: 50%;
  width: 100%;
  float: left;
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.top-2 .top-2-text {
  max-width: 600%;
  width: calc(100% - 40px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  white-space: nowrap;
}

.top-2 .home-header {
  color: white;
  font-size: 13vw;
  font-family: 'Bangers', cursive;
  text-shadow: 10px 10px black;
}

.top-2 .let-me {
  color: white;
  text-decoration: none;
}

.top-2:hover {
  cursor: pointer;
  opacity: 100%;
}

.top-2:active {
  -webkit-box-shadow: 1px 1px 11px black;
          box-shadow: 1px 1px 11px black;
}

button {
  color: whitesmoke;
  /* Color of the text*/
  font-size: 45px;
  /* Setting the font size of the text */
  font-family: 'Bangers', cursive;
  background: black;
  padding: 15px;
  border: 0px solid white;
  opacity: 85%;
  border-radius: 30px;
  text-decoration: none;
}

button:hover {
  cursor: pointer;
  opacity: 100%;
}

button:active {
  -webkit-box-shadow: 1px 1px 11px black;
          box-shadow: 1px 1px 11px black;
}

.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  width: 100%;
  background-color: black;
  color: whitesmoke;
  -webkit-box-shadow: 1px 1px 11px black;
          box-shadow: 1px 1px 11px black;
}

.top header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto auto;
  max-width: 1028px;
  width: calc(100% - 30px);
  height: 100%;
}

.top header p {
  font-family: 'Bangers', cursive;
  font-size: 35px;
}

.top header p .landing-direct {
  text-decoration: none;
  color: white;
}

.top header p .landing-direct:hover {
  border-bottom: 3px solid white;
  cursor: pointer;
}

.top header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
}

.top header .navbar li {
  list-style: none;
  margin: 0px 5px;
}

.top header .navbar li a {
  text-decoration: none;
  font-size: 25px;
  color: whitesmoke;
}

.top header .navbar li:hover {
  border-bottom: 2px solid white;
}

.top header .ham {
  height: calc(100% - 5px);
  display: none;
}

@media screen and (max-width: 600px) {
  .top header .ham {
    display: inline-block;
    background: whitesmoke;
  }
  .top header .navbar {
    display: none;
    background: red;
  }
}

.popup {
  position: fixed;
  background: rgba(196, 195, 195, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 999;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.popup .ham-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-transition: -webkit-transform 1s ease-in;
  transition: -webkit-transform 1s ease-in;
  transition: transform 1s ease-in;
  transition: transform 1s ease-in, -webkit-transform 1s ease-in;
  -webkit-transform: translate(-6000px, 0px);
          transform: translate(-6000px, 0px);
}

.popup .ham-ul .close-popup {
  color: red;
}

.popup li {
  list-style: none;
  margin: 10px;
}

.popup li a {
  text-decoration: none;
  font-size: 60px;
  color: black;
}

.popup li:hover {
  border-bottom: 9px solid orange;
}

.disabled {
  display: none;
  background: black;
}

/*About Section BELOW*/
.about-div .about-section {
  background: #ffff71;
  height: auto;
}

.about-div .about-section .about-text {
  color: black;
  font-size: 35px;
  font-family: 'Bangers', cursive;
  margin: 0px 30px;
}

.about-div .about-section .opening-times-text {
  color: black;
  font-size: 40px;
  font-family: 'Bangers', cursive;
  text-shadow: 5px 5px white;
}

.about-div .about-section .left-right-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1028px;
  width: calc(100% - 50px);
}
/*# sourceMappingURL=style.css.map */